:root {
  --primary-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --body-text-color: #434455;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --accent-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
  background-color: var(--white-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

input {
  font-family: "Roboto", sans-serif;
}
/*---------------------------------Header--------------------------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.studio-logo {
  color: var(--navy-blue-color);
}
.navigation-list {
  display: flex;
  gap: 40px;
}
.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--ocean-color);
}
.current {
  position: relative;
  color: var(--ocean-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean-color);
  border-radius: 2px;
}
.address {
  font-style: normal;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean-color);
}

/* ------------------------Main-------------------------- */
.section-one {
  background-color: var(--navy-blue-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  font-size: 56px;
  color: var(--white-color);
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button-studio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: var(--primary-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  display: block;
  width: 169px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-studio:hover,
.button-studio:focus {
  background-color: var(--ocean-color);
}

/* ----------------------SECTION_02----------------------- */
.section-two {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  width: calc((100% - 72px) / 4);
}
.main-fon-icon {
  display: flex;
  gap: 24px;
  max-width: 264px;
  height: 112px;
  background-color: var(--cloud-color);
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border-radius: 4px;
}
.features-icons {
}
.title-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  letter-spacing: 0.02em;
}

/* --------------------------------SECTION_03------------------------------- */
.section-tree {
  padding-bottom: 120px;
  text-align: center;
}
.title-two {
  font-size: 36px;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.our-work-list {
  display: flex;
  gap: 24px;
}
.our-work-item {
  width: calc((100% - 24px * 2) / 3);
}
/* ---------------------------------SECTION_04--------------------------------- */
.section-four {
  background-color: var(--cloud-color);
  padding: 120px 0;
}
.members-list {
  display: flex;
  gap: 24px;
}
.members-list-item {
  background-color: var(--white-color);
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.members-list-box {
  padding: 32px 0;
}
.members-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.members-position {
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  letter-spacing: 0.02em;
  text-align: center;
  /* margin-top: 8px; */
  margin-bottom: 8px;
}
.members-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.members-item {
  height: 40px;
  width: 40px;
}
.media-link {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover,
.media-link:focus {
  background-color: var(--ocean-color);
}
.media-icons {
  fill: var(--cloud-color);
}
/* ----------------------------SECTION_05-------------------------------------- */
.section-five {
  padding: 120px 0;
}
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.customers-link-item {
  height: 88px;
  width: 56px;
  width: calc((100% - 120px) / 6);
}
.customers-link {
  height: 100%;
  width: 100%;
  border: 1px solid #8e8f99;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: var(--white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #8e8f99;
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--ocean-color);
  color: #404bbf;
}
.customers-link:hover .customers-icons,
.customers-link:focus .customers-icons {
  fill: var(--ocean-color);
}
.customers-icons {
  /* fill: #8e8f99; */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
/* --------------------------------------FOOTER----------------------------------*/
.footer {
  background-color: var(--navy-blue-color);
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-box {
  margin-right: 120px;
  /* display: flex; */
}
.logo-footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  display: flex;
  display: inline-block;
  margin-bottom: 16px;
}
.studio-logo-footer {
  color: var(--cloud-color);
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud-color);
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-icons-container {
  margin-right: 80px;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-media-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-item {
  height: 40px;
  width: 40px;
}
.footer-link {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-icons {
  fill: var(--cloud-color);
}
.modal-footer {
}
.footer-input {
}
.footer-form {
  display: flex;
  gap: 24px;
}
.label-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.footer-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* margin-right: 8px; */
  outline: transparent;
  /* margin-top: 16px; */
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.footer-btn {
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--ocean-color);
}
.icons-send {
  margin-left: 16px;
  fill: var(--white-color);
}
/*------------------------------------------PORTFOLIO-------------------------------------*/
.section-portfolio {
  list-style: none;
  padding: 96px 0 120px 0;
}
.button-portfolio-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  background-color: var(--cloud-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* <!--------------------------------------Portfolio projects list -----------------------------------> */
.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  background-color: var(--white-color);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}
.portfolio-link:focus .portfolio-cover-text {
  transform: translateY(0%);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border: 1px solid #e7e9fc;
}
.portfolio-link {
  display: block;
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border: 1px solid #e7e9fc; */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-block {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  width: 360px;
  border: 1px solid var(--accent-color);
  border-top: none;
  border: 1px solid #e7e9fc;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  letter-spacing: 0.02em;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}
/* <!--------------------------Модальне вікно---------------------------------> */
.backdrop {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}
.backdrop.modal .is-hidden {
  transform: translate(-50%, -50%) scale(0);
}
.modal-button {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--ocean-color);
  fill: var(--white-color);
  border: none;
}
.icon-modal {
  fill: var(--navy-blue-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 16px;
  margin-top: 24 px;
}
.modal-form {
}
.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--primary-color);
}
.modal-input:focus + .icons-input {
  fill: var(--primary-color);
}

.input-wrap {
  position: relative;
}
.icons-input {
  fill: var(--navy-blue-color);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}
.modal-comment {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: var(--primary-color);
}
.modal-check {
  margin-bottom: 24px;
}
.input-check {
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  /* display: flex; */
  align-items: center;
}
.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text a {
  color: var(--primary-color);
  text-decoration: underline;
}
.input-check:checked + .check-text span {
  background-color: var(--ocean-color);
  border: none;
  fill: var(--cloud-color);
}
.input-check:focus + .check-text span {
  border-color: var(--ocean-color);
}
.icons-check {
  fill: var(--white-color);
}

.privacy-link {
}
.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  padding: 16px 32px;
  border-radius: 4px;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--ocean-color);
}
